<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sendo - <%- title -%></title>
  <link rel="stylesheet" href="/css/auth/login.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <div class="left">
      <img alt="Collage of various services"
        src="https://storage.googleapis.com/a1aa/image/o87cRdSOLD5ME5fQWiVIbAEe0tlxv6SHIi7FOnAetai4W4wnA.jpg" />
    </div>
    <div class="right">
      <div class="logo">
        <img alt="Logo 1" height="50"
          src="https://storage.googleapis.com/a1aa/image/bDXHvHTJJP7dKR0nOfE4E9036Rem63ttFD4IfDod8BXzW4wnA.jpg"
          width="50" />
      </div>
      <h1>
        Tài khoản sử dụng mọi dịch vụ
      </h1>
      <form action="/login" method="POST">
        <input type="text" name="numberPhone" placeholder="Phone number">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        <% if (error) { %>
          <div class="error-message">
            <p>
              <%= error %>
            </p>
          </div>
          <% } %>
      </form>

      <div class="terms">
        Bằng cách tiếp tục, bạn đồng ý với
        <a href="#">
          Điều khoản
        </a>
        và
        <a href="#">
          Chính sách bảo mật
        </a>
        của FPT ID
      </div>
      <a style="text-decoration: none;" class="register" href="/register">
        Đăng ký
      </a>
    </div>
  </div>

</body>

</html>