<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo</title>
</head>

<body>
    <center>Thông báo</center>
    <center>
        <p>Chương trình đang bảo trì xin vui lòng chờ hoặc truy cập lại sao</p>
        <br>
        <p>Xin cảm ơn </p>
    </center>
</body>

</html>